@import url('https://fonts.googleapis.com/css?family=Sigmar+One|Open+Sans:400,800');

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #222;
}

#wrapper {
  width: 900px;
  margin: 0 auto;
}

a,
a:visited {
  color: rgb(66,141,160); /* teal */
}

a:hover {
  /* color: rgb(11,72,107); */ /* dark blue */
  color: rgb(235,104,65); /* orange */
}

h1 {
  font-family: "Sigmar One", sans-serif;
	font-size: 144px;
  text-transform: uppercase;
  margin: 0;
}

h2, h3, h4 {
  font-weight: 800;
}

img {
  border: 1px solid #ccc;
}

audio {
  display: block;
  width: 100%;
}

nav {
  background: #eee;
  padding: 1em;
  margin-bottom: 2.875em /* 46px / 16px */
}

nav ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  padding: 0.25em 0.5em;
}

nav a:hover {
  background: #fff;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5em;
  margin-bottom: 6em;
}

main h2 {
  grid-column: 1 / -1;
}

#home main {
  display: block;
}

footer {
  position: fixed;
  bottom: 0;
  background: #eee;
  width: 100%;
  text-align: center;
}


/* media 'cards' */

#media section {
  padding: 0.5em;
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  box-shadow: 5px 5px 5px #222;
}

#media h3 {
  margin-top: 0.5em;
}
